{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <title>Home</title>
  </head>
  <body>
    <header>
        <nav class="navbar">
            <p class="logo">Profile</p>
                <a class="profile-icon-link-container" href="{% url 'profile' %}">
                    <img src="{% static 'images/default.svg' %}" alt="profile-icon">
                    <span class="header-username">Hello, {{user}}</span>
                </a>
        </nav>
    </header>

    {% if messages %}
    <div class="notification-container">
        <div class="notification">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
            <img id='cross' src="{% static 'images/close.png' %}" width="15px" height="15px" alt="">
        </div>
    </div>
    <script>
        var cross = document.getElementById('cross')
        cross.addEventListener('click', ()=> {
            document.getElementsByClassName('notification-container')[0].style.display = 'none';
        })
    </script>
    {% endif %}


    <main class="main-container">
        <div class="container">
            <div class="profile-photo-container">
                <img src="{{user.profile.profile_img.url}}" alt="User Image" width="100px" srcset="">
            </div>


            <div class="user-content-container">
                <p class="username">{{user.profile.name}}</p>
                <p class="user-title">{{user.profile.title}}</p>
                <p class="user-desc">{{user.profile.desc}}</p>
                <div class="profile-edit-link-container">
                    <a href="{% url 'profile' %}">Edit</a>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>
